.controller {
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    }